body {
  overflow: hidden;
}

.floating {
  position: absolute;
  top: 50%;
  left: 50%;
  /* animation: 1.3708s ease-in 0s infinite reverse moving-around; */
  transform: translate(-50%, -50%);
}

/* The animation code */
@keyframes moving-around {
  0% {
    top: 50%;
    left: 49.5%;
    transform: translate(-50%, -50%) scale(1.05);
  }
  2% {
    top: 50%;
    left: 49.5%;
    transform: translate(-50%, -50%) scale(1);
  }
  23% {
    top: 50%;
    left: 50.5%;
    transform: translate(-50%, -50%) scale(1);
  }
  25% {
    top: 50%;
    left: 50.5%;
    transform: translate(-50%, -50%) scale(1.05);
  }
  27% {
    top: 50%;
    left: 50.5%;
    transform: translate(-50%, -50%) scale(1);
  }
  48% {
    top: 50%;
    left: 49.5%;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    top: 50%;
    left: 49.5%;
    transform: translate(-50%, -50%) scale(1.05);
  }
  52% {
    top: 50%;
    left: 49.5%;
    transform: translate(-50%, -50%) scale(1);
  }
  73% {
    top: 50%;
    left: 50.5%;
    transform: translate(-50%, -50%) scale(1);
  }
  75% {
    top: 50%;
    left: 50.5%;
    transform: translate(-50%, -50%) scale(1.05);
  }
  78% {
    top: 50%;
    left: 50.5%;
    transform: translate(-50%, -50%) scale(1);
  }
  98% {
    top: 50%;
    left: 49.5%;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    top: 50%;
    left: 49.5%;
    transform: translate(-50%, -50%) scale(1.05);
  }
}

.particle {
  position: absolute;
  animation: 1.3708s linear 0s infinite reverse rotate;
}

@keyframes rotate {
  /* 0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1.3);
  }
  2% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  23% {
    transform: translate(-50%, -50%) rotate(90deg) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) rotate(90deg) scale(1.3);
  }
  27% {
    transform: translate(-50%, -50%) rotate(90deg) scale(1);
  }
  48% {
    transform: translate(-50%, -50%) rotate(180deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) scale(1.3);
  }
  52% {
    transform: translate(-50%, -50%) rotate(180deg) scale(1);
  }
  73% {
    transform: translate(-50%, -50%) rotate(270deg) scale(1);
  }
  75% {
    transform: translate(-50%, -50%) rotate(270deg) scale(1.3);
  }
  77% {
    transform: translate(-50%, -50%) rotate(270deg) scale(1);
  }
  98% {
    transform: translate(-50%, -50%) rotate(359deg) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) rotate(359deg) scale(1.3);
  } */
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(270deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

.splash {
  position: absolute;
  transform: translate(-50%, -50%);
}
